@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F1F1F1;
  --foreground: #FFFFFF;
  --primary: #CD5600;
  --secondary: #FFF1E7;
  --danger: #FF4646;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #F1F1F1;
    --foreground: #FFFFFF;
    --primary: #CD5600;
    --secondary: #FFF1E7;
    --danger: #FF4646;
  }
}

body {
  @apply antialiased;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
