@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F1F1F1;
  --foreground: #000000;
  --primary: #CD5600;
  --primary_hover: #a14300;
  --secondary: #FFF1E7;
  --danger: #b10000;
  --danger_hover: #8b0000;
  --navbar-height: 80px;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #F1F1F1;
    --foreground: #000000;
    --primary: #CD5600;
    --primary_hover: #a14300;
    --secondary: #FFF1E7;
    --danger: #b10000;
    --danger_hover: #8b0000;
  }
}

@layer utilities {
  .content-height {
    height: calc(var(--navbar-height) - 100vh);
  }
}

body {
  @apply antialiased;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

*:focus {
  outline-color: var(--primary);
}

.page {
  @apply flex flex-col content-height my-8 mx-8 xs:mx-16 sm:mx-24 md:mx-32 font-inter;
}

.btn {
  @apply
  transition-all
  flex
  justify-center
  items-center
  rounded-lg
  py-1.5
  px-5
  text-lg
  text-center
  font-bold
  font-inter
}

.primary_btn {
  @apply
  btn
  text-white
  bg-primary
  hover:bg-primary_hover
}

.secondary_btn {
  @apply
  btn
  border-2
  border-primary
  hover:border-primary_hover
  bg-white
  hover:bg-secondary
  text-primary
  hover:text-primary_hover
}

.danger_btn {
  @apply
  btn
  bg-danger
  text-white
  hover:bg-danger_hover
}

.input {
  @apply
  w-full
  h-11
  min-h-11
  rounded-lg
  border-primary
  border-2
  bg-white
  px-4
  flex
  items-center
  text-primary
  font-normal
}

input[type="search"] {
  padding-right: 24px;
  
  &:focus::-webkit-search-cancel-button {
    margin-right: 1rem;
    margin-left: 0.5rem;
  };
}
